<!--
  Generated template for the BookModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>{{feed?.owner.firstName}} {{feed?.owner.lastName}} {{ 'FEED' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding scrollable>
  <ion-refresher pullMax="300" pullMin="150" (ionRefresh)="doRefresh($event)" (ionPull)="doPulling($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-card style="border-radius: 10px;margin-bottom: 10px !important">

    <ion-item>
      <ion-avatar item-start>
        <img class="profile-pic" (click)="goToUser(feed.owner)" src="https://www.netbedloo.com{{feed.owner.thumbnailImage}}">
      </ion-avatar>
      <h2>{{feed.owner.firstName}} {{feed.owner.lastName}}
          <p *ngIf="feed.type===1||feed.type===9" style="font-size: 12px;
          vertical-align: middle;color: lightgray;display:inline" text-wrap>{{ 'OWN' | translate }} {{feed.owned.article.title}}</p>
        <p *ngIf="feed.type===8||feed.type===2" style="font-size: 12px;
          vertical-align: middle;color: lightgray;display:inline" text-wrap>{{ 'WANT' | translate }} {{feed.wanted.article.title}}</p>
        <p *ngIf="feed.type===5||feed.type===6" style="font-size: 12px;
        vertical-align: middle;color: lightgray;display:inline" text-wrap>{{ 'QUOTED' | translate }} {{feed.article.title}}</p>
        <p style="font-size: 12px;
        vertical-align: middle;color: lightgray;;display:inline" *ngIf="feed.type===4" text-wrap>{{ 'SHARED' | translate }}</p>
      </h2>
      <p style="font-size:10px">{{feed.time | amDateFormat: 'DD/MM/YYYY HH:mm' }}</p>
    </ion-item>
    <ion-card-content *ngIf="feed.type===4||feed.type===5||feed.type===6">
      <p>{{feed.content}}</p>
    </ion-card-content>
    <ion-row *ngIf="feed.type===1||feed.type===9">
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <ion-card (click)="openModal(feed.owned.article)">
            <img src="https://www.netbedloo.com{{feed.owned.article.mediumImage}}" />
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="feed.type===2||feed.type===8">
          <ion-col col-4></ion-col>
          <ion-col col-4>
            <ion-card (click)="openModal(feed.wanted.article)">
              <img src="https://www.netbedloo.com{{feed.wanted.article.mediumImage}}" />
            </ion-card>
          </ion-col>
        </ion-row>
    <ion-row *ngIf="feed.type===5||feed.type===6">
      <ion-col col-4></ion-col>
      <ion-col col-4>
        <ion-card (click)="openModal(feed.article)">
          <img src="https://www.netbedloo.com{{feed.article.mediumImage}}" />
        </ion-card>
      </ion-col>
    </ion-row>



    <ion-row>
      <ion-col col-6>
        <button (click)="deleteOkay(feed)" *ngIf="feed.account" style="width: 100%;background-color:rgba(158, 158, 158, 0.1)" ion-button
          icon-left clear small>
          <ion-icon name="thumbs-down"></ion-icon>
          <div>{{feed.numberOfLikes}} {{ 'LIKES' | translate }}</div>
        </button>
        <button (click)="AddOkay(feed)" *ngIf="!feed.account" style="width: 100%;" ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{feed.numberOfLikes}} {{ 'LIKES' | translate }}</div>
        </button>
      </ion-col>
      <ion-col col-6>
        <button (click)="openNewCommentModal(feed)" style="width: 100%;" ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>{{feed.numberOfcomments}} {{ 'COMMENTS' | translate }}</div>
        </button>
      </ion-col>
    </ion-row>
    <ion-list *ngIf="feed.numberOfcomments>0">
      <ion-list-header style="text-align: center;margin-bottom: -15px">
          {{ 'COMMENTS' | translate }}
      </ion-list-header>
      <ion-item (press)="presentActionSheet(feed,comment)" class="comments" *ngFor="let comment of comments">
        <ion-avatar item-start>
          <img src="https://www.netbedloo.com{{comment.profile.thumbnailImage}}">
        </ion-avatar>
        <h2 class="name">{{comment.profile.firstName}} {{comment.profile.lastName}}
        </h2>
        <p class="timer">{{comment.publicationTime | amTimeAgo }}</p>
        <p text-wrap style="margin-top: 6px;font-size: 11px;">{{comment.comment}}</p>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="getAgain($event)">
      <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-card>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <form [formGroup]="comment" (ngSubmit)="addComment()">

        <ion-row>
          <ion-col col-2>
            <ion-avatar>
              <img style="border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        vertical-align: middle;" src="https://www.netbedloo.com{{profile?.thumbnailImage}}">
            </ion-avatar>

          </ion-col>
          <ion-col>
            <ion-item>
              <ion-textarea [ngStyle]="((comment.invalid && (comment.dirty || comment.touched)) &&comment.controls.content.errors.maxlength) && {'background': '#ffd0d050'}"
                id="content" placeholder="{{ 'NEW_COMMENT' | translate }}" type="text" formControlName="content" (click)="((comment.invalid && (comment.dirty || comment.touched)) &&comment.controls.content.errors.maxlength) && showPopOver(event)"></ion-textarea>

            </ion-item>


          </ion-col>
          <ion-col col-2 class="flex-container center" *ngIf="comment.valid">

            <button clear icon-only ion-button color="dark" type="submit" [disabled]="!comment.valid || isSending">
              <ion-icon name="ios-arrow-dropright-circle-outline"></ion-icon>
            </button>
          </ion-col>

        </ion-row>
      </form>

    </ion-grid>

  </ion-toolbar>

</ion-footer>
