page-feed-detail {
 
    .content {
        background-color: rgba(231, 112, 0, 0.8);
    }
    .timer {
        font-size: 9px;
        color: #e77000;
        display: inline;
        margin-top: 3px;
        float: right;
      }
      .name{
        display: inline;
        font-size: 13px;
        color: black;   
      }
      .comments{
        margin-top: 9px;
        
      }
      .toolbar-background-md{
        background:ghostwhite
      }
      .input {
        border:none;
        border-radius: 3px;
        padding-left: 15px;
       
    }
   
}