<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <form #signForm="ngForm" (ngSubmit)="theLogin(signForm.value)">
    <ion-list>

      <ion-item>
        <ion-label floating>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" name="username" ngModel required #username="ngModel"
        [class.invalid]="username.errors && username.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="username.errors?.required && username.dirty">
        Username or Email are required
      </ion-item>



      <ion-item>
        <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password"  name="password" ngModel required #password="ngModel"
        [class.invalid]="password.errors && password.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="password.errors?.required && password.dirty">
        Password is required
      </ion-item>

      <div padding>
        <button ion-button color="primary" block type="submit" [disabled]="!signForm.valid">{{ 'LOGIN_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>

