<ion-content padding>

    <ion-card>


        <ion-card-content>
            Congratulations, your account has been created, You can login now and  check you email to confirm later.
        </ion-card-content>

    </ion-card>
    <button ion-button full (click)="goLogin()">Login</button>


</ion-content>