page-tabs {
    .notification-counter {
        position: absolute;
        top: 10px;
        left: 20px;
        background-color: #e77000;
        color: #fff;
        border-radius: 3px;
        padding: 1px 3px;
        font: 8px Verdana;
    }
}