<ion-header>

    <ion-toolbar>
        <ion-buttons (click)="goMatches()" start>
            <button ion-button icon-only>
                            <ion-icon [style.color]="matchings.length>0 ? '#0690CF' : null" name="infinite"></ion-icon>
                          </button>
            <span *ngIf="matchings.length>0" class="notification-counter">{{matchings?.length}}</span>

        </ion-buttons>
        <ion-title>
            <img style="
                    width: 40%;" src="assets/img/original_logo_without_naru-01_mobile_col.png" />
        </ion-title>
        <ion-buttons *ngIf="!listLoading" (click)="goMessage()" end>
            <button ion-button icon-only>
                        <ion-icon [style.color]="chatters.length>0 ? '#0690CF' : null" name="ios-chatbubbles"></ion-icon>
                      </button>
            <span *ngIf="chatters.length>0" class="notification-counter">{{chatters?.length}}</span>

        </ion-buttons>

    </ion-toolbar>

</ion-header>
<ion-tabs #myTabs selectedIndex="0">
    <ion-tab [root]="tab1Root" [tabTitle]="tab1Title" tabIcon="list-box"></ion-tab>
    <ion-tab [root]="tab2Root" [tabTitle]="tab2Title" tabIcon="person"></ion-tab>
    <ion-tab [root]="tab3Root" [tabTitle]="tab3Title" tabIcon="bookmarks"></ion-tab>
    <ion-tab [root]="tab4Root" [tabTitle]="tab4Title"  tabIcon="game-controller-b"></ion-tab>

</ion-tabs>