page-book-modal {
 
    .content {
        background-color: rgba(231, 112, 0, 0.8);
    }
    .card {
        margin-bottom: 20px !important;
        text-align: center;
    }
    .card-icons {
        font-size: 2.0em;
        position: absolute;
        top: 70%;
        width: 100%;
        color: #e77000;
        text-align: center;
        -webkit-box-align: center;
        -moz-box-align: center;
    }
    .ava {
        width: 90%;
        height: auto;
        border-radius: 50%;
        display: inline-block;
        border: 3px solid #fafafa
    }
}