<!--
  Generated template for the BookModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    
        <ion-navbar>
        </ion-navbar>
    
    </ion-header>
<ion-content  padding class="cards-bg">
    <ion-refresher pullMax="300" pullMin="150" (ionRefresh)="doRefresh($event)" (ionPull)="doPulling($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>
    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-5>
                        <img src="https://www.netbedloo.com{{article.mediumImage}}" />
                    </ion-col>

                    <ion-col col-7>
                        <h2><b>{{article.title}}</b></h2>
                        <small>{{article.author}}</small>
                        
                        <ion-row class="card-icons">
                                
                            <ion-col col-4>
                                <ion-icon *ngIf="own" (click)=DeleteOwn() name="ios-bookmark"></ion-icon>
                                <ion-icon *ngIf="!own" (click)="AddOwn()" name="ios-bookmark-outline"></ion-icon>

                            </ion-col>
                            <ion-col col-4>
                                <ion-icon *ngIf="want" (click)=DeleteWant() name="ios-heart"></ion-icon>
                                <ion-icon *ngIf="!want" (click)="AddWant()" name="ios-heart-outline"></ion-icon>

                            </ion-col>
                            <ion-col col-4>
                                         <!--   <ion-icon (click)="facebookShare()" name="logo-facebook"></ion-icon> -->
                            </ion-col>
                        </ion-row>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>


    </ion-card>

    <ion-card>
        <ion-card-content>
            <p>
                <small> <i>{{article.description}}</i></small>
            </p>
        </ion-card-content>
    </ion-card>
    <div style="color:white">
        <div *ngIf="numberPeopleWant>0">
            <b>{{ 'THEY_WANT' | translate }}</b>
            <ion-grid>
                <ion-row>
                    <ion-col col-2 *ngFor="let user of peopleWant" (click)="goToUser(user.wanter)"><img class="ava" src="https://www.netbedloo.com{{user.wanter.mediumImage}}"></ion-col>
                </ion-row>
            </ion-grid>

        </div>

        <div *ngIf="numberPeopleOwn>0">
            <b>{{ 'THEY_OWN' | translate }}</b>
            <ion-grid>
                <ion-row>
                    <ion-col col-2 *ngFor="let user of peopleOwn" (click)="goToUser(user.owner)"><img class="ava" src="https://www.netbedloo.com{{user.owner.mediumImage}}"></ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <br>

        <div *ngIf="numberPeopleWant===0">
            <i>{{ 'NOBODY_WANT' | translate }}</i>
        </div>
        <div *ngIf="numberPeopleOwn===0">
            <i>{{ 'NOBODY_OWN' | translate }}</i>
        </div>
    </div>
    
</ion-content>