<!--
  Generated template for the AddItemModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'NEW_FEED' | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <ion-refresher pullMax="150" pullMin="50" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <form [formGroup]="feed" (ngSubmit)="addFeed()">
    <ion-card style="border-radius: 10px;margin-bottom: 10px !important">
      <ion-item style="margin-top: 13px">
        <ion-avatar item-start>
          <img class="profile-pic" src="https://www.netbedloo.com{{profile?.thumbnailImage}}">
        </ion-avatar>
        <h2>{{profile?.firstName}} {{profile?.lastName}}
          <p style="font-size: 12px;
                  vertical-align: middle;color: lightgray;;display:inline" text-wrap>{{ 'NEW_FEED_SHARE' | translate }}</p>
        </h2>
        <p style="font-size:10px">{{ 'NEW_FEED_NOW' | translate }}</p>
      </ion-item>
      <ion-card-content>
        <ion-textarea id="content" type="text" formControlName="content" placeholder="{{ 'NEW_FEED_PLACEHOLDER' | translate }}"
          (click)="((feed.invalid && (feed.dirty || feed.touched)) &&feed.controls.content.errors.maxlength) && showPopOver(event)"></ion-textarea>
      </ion-card-content>
        <p *ngIf="findBook">{{ 'NEW_FEED_QBOOK' | translate }}</p>
        <p *ngIf="findGame">{{ 'NEW_FEED_QGAME' | translate }}</p>
          <ion-chip #chip3 *ngIf="toChip" style="margin-bottom: 20px;white-space: normal; height: 71px;">
            <ion-avatar style="width: 55px;height: auto;border-radius: 1px;">
              <img style="border-radius: 8px;" src="https://www.netbedloo.com{{itemQuote?.mediumImage}}">
            </ion-avatar>
            <ion-label style="margin-top: 18px !important;margin-left: 3px !important;">{{itemQuote?.title}}</ion-label>
            <button ion-button clear color="dark" (click)="deleteChip(chip3)">
              <ion-icon name="close-circle"></ion-icon>
            </button>
          </ion-chip>
      <ion-searchbar *ngIf="findBook&&!toChip" debounce="500" animated="true" (ionInput)="getBooks($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
      <ion-searchbar *ngIf="findGame&&!toChip" debounce="500" animated="true" (ionInput)="getGames($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
      <ion-list *ngIf="currentItems?.length===0&&valeur!=undefined&&valeur!=''&&findBook&&!toChip||currentItems?.length===0&&valeur!=undefined&&valeur!=''&&findGame&&!toChip">
        <button ion-item>
          <span>
            <h2>{{valeur}} </h2>{{ 'UNAVAILABLE' | translate }}</span>

        </button>
      </ion-list>
      <ion-list *ngIf="findBook&&!toChip||findGame&&!toChip">
        <button ion-item (click)="makeAchip(item)" *ngFor="let item of currentItems">
          <ion-avatar item-start>
            <img src="https://www.netbedloo.com{{item.thumbnailImage}}" />
          </ion-avatar>
          <h2>{{item.title}}</h2>
          <i>{{item.author}}</i>
          <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
        </button>
      </ion-list>
      <ion-row>
        <ion-col col-6 *ngIf="!findGame&&!findBook">
          <button (click)="findMyBookToQuote()" style="width: 100%" ion-button icon-left clear small>
            <ion-icon name="book"></ion-icon>
            <div>{{ 'BOOKS' | translate }}</div>
          </button>
        </ion-col>
        <ion-col col-6 *ngIf="!findGame&&!findBook">
          <button (click)="findMyGameToQuote()" style="width: 100%;" ion-button icon-left clear small>
            <ion-icon name="game-controller-b"></ion-icon>
            <div>{{ 'GAMES' | translate }}</div>
          </button>
        </ion-col>
      </ion-row>

    </ion-card>
    <ion-grid style="margin-top: 70px;">
      <ion-row class="card-icons">
        <ion-col *ngIf="!hideSave">
          <button style="width:50%" ion-button color="light" outline type="submit" [disabled]="!feed.valid">{{ 'SHARE' | translate }}</button>
        </ion-col>
        <ion-col *ngIf="hideSave">
          <button (click)="abortMission()" style="width:50%" ion-button color="light" outline type="submit" >{{ 'CLEAR' | translate }}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>



</ion-content>
