<ion-content padding>
    <ion-grid>
        <ion-row style="margin-top:50%">
            <h1 class="text"> {{'PROFILEINSTRUCT1' |translate}} </h1>
            <h2 class="text">{{'PROFILEINSTRUCT2' | translate }}
            </h2>


        </ion-row>
        <ion-row style=" -moz-box-align: center;
        text-align: center; margin-top:20%">
            <ion-col><button (click)="uderstand()" ion-button large>{{'UNDERSTOOD' | translate}}</button></ion-col>
        </ion-row>
    </ion-grid>


</ion-content>