<!--
  Generated template for the MessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'TAB1_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher pullMax="150" pullMin="50" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-card style="border-radius: 10px;margin-bottom: 10px !important">
    <ion-item>
      <ion-avatar item-start>
        <img class="profile-pic" src="https://www.netbedloo.com{{profile?.thumbnailImage}}">
      </ion-avatar>
      <h2>{{profile?.firstName}} {{profile?.lastName}}
        <p style="font-size: 12px;
              vertical-align: middle;color: lightgray;;display:inline" text-wrap> {{ 'NEW_FEED_SHARE' | translate }}</p>
      </h2>
      <p style="font-size:10px">{{ 'NEW_FEED_NOW' | translate }}</p>
    </ion-item>
    <ion-card-content>
      <ion-item>
        <button (click)="newFeed()" style="width: 100%;" ion-button icon-left clear small>
          <ion-icon name="add-circle"></ion-icon>
          <div>{{ 'POST' | translate }}</div>
        </button>
      </ion-item>
    </ion-card-content>

  </ion-card>
  <ion-card  *ngFor="let feed of feeds" style="border-radius: 10px;margin-bottom: 10px !important">
    <ion-item >
      <ion-avatar item-start>
        <img class="profile-pic" (click)="goToUser(feed.owner)" src="https://www.netbedloo.com{{feed.owner.thumbnailImage}}">
      </ion-avatar>
      <h2>{{feed.owner.firstName}} {{feed.owner.lastName}}
        <p *ngIf="feed.type===1||feed.type===9" style="font-size: 12px;
          vertical-align: middle;color: lightgray;display:inline" text-wrap>{{ 'OWN' | translate }} {{feed.owned.article.title}}</p>
        <p *ngIf="feed.type===8||feed.type===2" style="font-size: 12px;
          vertical-align: middle;color: lightgray;display:inline" text-wrap>{{ 'WANT' | translate }} {{feed.wanted.article.title}}</p>
        <p *ngIf="feed.type===5||feed.type===6" style="font-size: 12px;
        vertical-align: middle;color: lightgray;display:inline" text-wrap>{{ 'QUOTED' | translate }} {{feed.article.title}}</p>
        <p style="font-size: 12px;
        vertical-align: middle;color: lightgray;;display:inline" *ngIf="feed.type===4" text-wrap>{{ 'SHARED' | translate }}</p>
        <p style="font-size: 12px;
        vertical-align: middle;color: lightgray;;display:inline" *ngIf="feed.type===10" text-wrap>{{ 'FOLLOWER' | translate }} {{feed.follow.followed.firstName}} {{feed.follow.followed.lastName}}</p>
      </h2>
      <p style="font-size:10px">{{feed.time | amDateFormat: 'DD/MM/YYYY HH:mm' }}</p>
    </ion-item>
    <ion-card-content *ngIf="feed.type===4||feed.type===5||feed.type===6">
      <p text-wrap>{{feed.content}}</p>
    </ion-card-content>
    <ion-row *ngIf="feed.type===1||feed.type===9">
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <ion-card (click)="openModal(feed.owned.article)">
            <img src="https://www.netbedloo.com{{feed.owned.article.mediumImage}}" />
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="feed.type===2||feed.type===8">
          <ion-col col-4></ion-col>
          <ion-col col-4>
            <ion-card (click)="openModal(feed.wanted.article)">
              <img src="https://www.netbedloo.com{{feed.wanted.article.mediumImage}}" />
            </ion-card>
          </ion-col>
        </ion-row>
    <ion-row *ngIf="feed.type===5||feed.type===6">
      <ion-col col-4></ion-col>
      <ion-col col-4>
        <ion-card (click)="openModal(feed.article)">
          <img src="https://www.netbedloo.com{{feed.article.mediumImage}}" />
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="feed.type===10" style="padding:10px">
      <ion-card style="background: ghostwhite;border-radius: 18px;">

        <ion-item style="margin-top: 11px;background: ghostwhite;">
          <ion-avatar style="margin-top: -1px;" item-start>
            <img src="https://www.netbedloo.com{{feed.follow.followed.thumbnailImage}}">
          </ion-avatar>
          <h2 style="margin-top: 0px;">{{feed.follow.followed.firstName}} {{feed.follow.followed.lastName}}</h2>
          <p style="display: inline;color: lightgray;">{{ 'FROM' | translate }} {{feed.follow.followed.gouv.name.split('/')[0]}} </p> <img style="display: inline;width: 26px; height: 16px;border-radius: 10px;float: right;vertical-align: middle;" src="https://www.netbedloo.com{{feed.follow.followed.country.flag}}" />
        </ion-item>
        <ion-card-content>
          <p *ngIf="feed.follow.followed.bio">{{feed.follow.followed.bio}}  </p>
        </ion-card-content>
        <ion-grid>
                <ion-row>
                    <ion-col col-3></ion-col>
                  <ion-col *ngIf="feed.followEach" col-6>
                    <button (click)="talkTo(feed.follow.followed)"  style="width: 100%;background:#0690CF" ion-button color="secondary" round icon-start>
                        <ion-icon name="chatboxes"></ion-icon>
                      Talk To
                    </button>
          
                  </ion-col>
                    <ion-col *ngIf="!feed.followEach" col-6>
                      <button  (click)="followThisPerson(feed)" style="width: 100%;background:#0690CF" ion-button color="secondary" round icon-start>
                        <ion-icon name="person-add"></ion-icon>
                        {{ 'FOLLOW' | translate }} 
                      </button>
            
                    </ion-col>
                 
                </ion-row>
              </ion-grid>
      </ion-card>
    </ion-row>



    <ion-row *ngIf="feed.owner.id!=profile?.id">
      <ion-col col-6>
        <button (click)="deleteOkay(feed)" *ngIf="feed.account" style="width: 100%;background-color:rgba(158, 158, 158, 0.1)" ion-button
          icon-left clear small>
          <ion-icon name="thumbs-down"></ion-icon>
          <div>{{feed.numberOfLikes}} {{ 'LIKES' | translate }}</div>
        </button>
        <button (click)="AddOkay(feed)" *ngIf="!feed.account" style="width: 100%;" ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{feed.numberOfLikes}} {{ 'LIKES' | translate }}</div>
        </button>
      </ion-col>
      <ion-col col-6>
        <button (click)="goFeed(feed)" style="width: 100%;" ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>{{feed.numberOfcomments}} {{ 'COMMENTS' | translate }}</div>
        </button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="feed.owner.id===profile?.id">
      <ion-col col-4>
        <button (click)="deleteOkay(feed)" *ngIf="feed.account" style="width: 100%;background-color:rgba(158, 158, 158, 0.1)" ion-button
          icon-left clear small>
          <ion-icon name="thumbs-down"></ion-icon>
          <div>{{feed.numberOfLikes}} {{ 'LIKES' | translate }}</div>
        </button>
        <button (click)="AddOkay(feed)" *ngIf="!feed.account" style="width: 100%;" ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{feed.numberOfLikes}} {{ 'LIKES' | translate }}</div>
        </button>
      </ion-col>
      <ion-col col-4>
        <button (click)="goFeed(feed)" style="width: 100%;" ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>{{feed.numberOfcomments}} {{ 'COMMENTS' | translate }}</div>
        </button>
      </ion-col>
      <ion-col col-4>
        <button (click)="showConfirm(feed)" style="width: 100%;" ion-button icon-left clear small>
          <ion-icon name="trash"></ion-icon>
          <div>{{ 'DELETE_BUTTON' | translate }}</div>
        </button>
      </ion-col>
    </ion-row>
    <ion-list *ngIf="feed.numberOfcomments>0">
      <ion-list-header style="text-align: center;margin-bottom: -15px">
        {{ 'RECENT_COMMENTS' | translate }}
      </ion-list-header>
      <ion-item (press)="presentActionSheet(feed,comment)" class="comments" *ngFor="let comment of feed.topComments">
        <ion-avatar item-start>
          <img src="https://www.netbedloo.com{{comment.profile.mediumImage}}">
        </ion-avatar>
        <h2 class="name">{{comment.profile.firstName}} {{comment.profile.lastName}}
        </h2>
        <p class="timer">{{comment.publicationTime | amTimeAgo }}</p>
        <p text-wrap style="margin-top: 6px;font-size: 11px;">{{comment.comment}}</p>

      </ion-item>
    </ion-list>
    <ion-row>
      <button *ngIf="feed.numberOfcomments>5" (click)="goFeed(feed)" style="width: 100%;" ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>{{ 'OTHERS' | translate }}</div>
      </button>
    </ion-row>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="getAgain($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
