page-feed {
  .content {
    background: #e77000
  }
  .timer {
    font-size: 9px;
    color: #e77000;
    display: inline;
    margin-top: 3px;
    float: right;
  }
  .name{
    display: inline;
    font-size: 13px;
    color: black;   
  }
  .comments{
    margin-top: 9px;
    
  }
}
