<ion-header>

    <ion-toolbar>

        <ion-title>
            <img style="
        width: 40%;" src="assets/img/original_logo_without_naru-01_mobile_col.png" />
        </ion-title>


    </ion-toolbar>

</ion-header>


<ion-content>
    <ion-searchbar debounce="500" animated="true" (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
    <ion-list *ngIf="currentItems?.length===0&&valeur!=undefined&&valeur!=''">
        <button ion-item (click)="goToAdd()">
                <span> <h2>{{valeur}} </h2>is unavailable, add it ? </span> 
      
          </button>
</ion-list>
    <ion-list>
        <button ion-item (click)="openModal(item)" *ngFor="let item of currentItems">
      <ion-avatar item-start>
        <img src="https://www.netbedloo.com{{item.thumbnailImage}}" />
      </ion-avatar>
      <h2>{{item.title}}</h2>
      <i>{{item.author}}</i>
      <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
    </button>
    </ion-list>

    <ion-grid *ngIf="books">
        <ion-row>
            <ion-col col-4 *ngFor="let book of books">
                <ion-card (click)="openModal(book)">
                    <img src="https://www.netbedloo.com{{book.mediumImage}}" />
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="getAgain($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>