page-check-please {
    .content {
        background-color: rgba(0, 0, 0, 0.8);
    }
    .text {
        position: relative;
        color: white;
        text-align: center;
    }
    h1 {
        text-align: center;
    }
}