<!--
  Generated template for the CheckPleasePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>

    <ion-grid>
        <ion-row style="margin-top:20%">
            <h1 class="text"> Hello</h1>
            <h2 class="text">{{ 'CHECK' | translate }}
            </h2>


        </ion-row>
        <ion-row style=" -moz-box-align: center;
        text-align: center; margin-top:20%">
            <ion-col><button (click)="ok()" ion-button large>Ok</button></ion-col>
            <ion-col><button (click)="moveOn()" ion-button large>{{ 'ICHECKED' | translate }}</button></ion-col>
        </ion-row>
    </ion-grid>



</ion-content>