<!--
  Generated template for the ConnectionProbPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

    <ion-toolbar>

        <ion-title>
            <img style="
                        width: 40%;" src="assets/img/original_logo_without_naru-01_mobile_col.png" />
        </ion-title>


    </ion-toolbar>

</ion-header>

<ion-content class="mainPart" padding>
    <h1 class="title" style="margin-top:20%">Oh...</h1>
    <img class="ava" src="assets/img/noConnection.gif">
    <h1 class="title">Sorry, No Internet here!</h1>
</ion-content>