page-connection-prob {
    .mainPart {
        background-color: #e9ebee;
    }
    .ava {
        display: block;
        margin: auto;
        width: 80%
    }
    .title {
        text-align: center
    }
}