<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
      <ion-navbar>
          <ion-title>Messages</ion-title>
      </ion-navbar>
  
  </ion-header>
<ion-content *ngIf="profile" class="bg-style card-background-page">
 <!--  <ion-refresher pullMax="300" pullMin="150" (ionRefresh)="doRefresh($event)" (ionPull)="doPulling($event)">
      <ion-refresher-content>
      </ion-refresher-content>
  </ion-refresher> -->


  <ion-card>

      <img class="bk" src="https://www.netbedloo.com{{profile.mediumImage}}" />
      <div class="card-avatar" >
          <span *ngIf="isFriend" (click)="goToMessage()"class="message-icon"><ion-icon name="ios-chatboxes"></ion-icon></span>
          <img class="ava" src="https://www.netbedloo.com{{profile.mediumImage}}"></div>
      <div class="card-title">{{profile.firstName}} {{profile.lastName}}  <small (click)="addFriend()" *ngIf="!isLoading&&!isFriend"><ion-icon name="person-add"></ion-icon></small> <small (click)="showRemoveAlert()" *ngIf="!isLoading&&isFriend">  <ion-icon name="person"></ion-icon>
      </small>
      </div>

      <div class="card-subtitle"> {{profile.gouv.name.split('/')[0]}}, {{profile.gouv.country.code}}
      </div>
      <div class="card-icons">
          <ion-grid>
              <ion-row>
                  <ion-col col-4>
                      <h1>
                          <ion-icon name="bookmark"></ion-icon><br><small>{{numberWanteds}}</small>
                      </h1>
                  </ion-col>
                  <ion-col col-4>
                      <h1>
                          <ion-icon name="heart"></ion-icon><br> <small> {{numberOwneds}}</small>
                      </h1>
                  </ion-col>
                  <ion-col col-4>
                      <h1>
                          <ion-icon name="repeat"></ion-icon>
                      </h1>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </div>
  </ion-card>
  <ion-segment color="primary" [(ngModel)]="choice">
      <ion-segment-button value="own">
          <b>{{'SEGMENT_OWN' | translate}}</b>
      </ion-segment-button>
      <ion-segment-button value="want">
          <b> {{'SEGMENT_WANT' | translate}}</b>
      </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="choice">
      <div *ngSwitchCase="'own'">

          <ion-grid>
              <ion-row>
                  <ion-col col-3 *ngFor="let item of OwnedsItems">
                      <ion-card (click)="openModal(item.article)">
                          <img src="https://www.netbedloo.com{{item.article.mediumImage}}" />
                      </ion-card>
                  </ion-col>
              </ion-row>
          </ion-grid>

      </div>
      <div *ngSwitchCase="'want'">


          <ion-grid>
              <ion-row>
                  <ion-col col-3 *ngFor="let item of WantedsItems">
                      <ion-card (click)="openModal(item.article)">
                          <img src="https://www.netbedloo.com{{item.article.mediumImage}}" />
                      </ion-card>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </div>

  </div>
</ion-content>