page-user {
    .message-icon {
        position: absolute;
        color: #e77000;
        margin: auto;
        width: 30%;
        font-size:40px;
        -webkit-text-shadow: -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
        -moz-text-shadow:  -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
        text-shadow:  -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
        
    }
    .bg-style {
        background-color: #fafafa;
    }
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
            overflow: hidden;
        }
        .bk {
            transform: scale(1.2);
            -webkit-filter: blur(8px) brightness(40%);
            -moz-filter: blur(8px) brightness(40%);
            -o-filter: blur(8px) brightness(40%);
            -ms-filter: blur(8px) brightness(40%);
            filter: blur(8px) brightness(40%);
            ;
        }
        .card-avatar {
            position: absolute;
            top: 20%;
            width: 100%;
        }
        .card-title {
            position: absolute;
            top: 55%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 65%;
            width: 100%;
            color: #fff;
        }
        .card-bio {
            font-size: 1.0em;
            position: absolute;
            top: 65%;
            width: 100%;
            color: #fff;
        }
        .card-icons {
            font-size: 1.0em;
            position: absolute;
            top: 80%;
            width: 100%;
            color: #fff;
            h1 {
                color: white;
            }
        }
        .ava {
            width: 30%;
            height: auto;
            border-radius: 50%;
            display: block;
            margin: auto;
            border: 3px solid #fafafa
        }
    }
    ion-slide.swiper-slide {
        left: 25%;
    }
    .thumb-img {
        padding: 5px;
    }
    ion-slides {
        display: block;
        width: 100%;
        height: auto;
    }
}
