<!--
  Generated template for the BookModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding class="cards-bg">
    <ion-refresher pullMax="300" pullMin="150" (ionRefresh)="doRefresh($event)" (ionPull)="doPulling($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>
    <img class="ava" src="https://www.netbedloo.com{{matchinginfo.other.thumbnailImage}}">
    <div class="matchtitle">
        <h1>{{"MATCHING_TITLE" | translate}}</h1>
        <h2>{{matchinginfo.other.firstName}} {{matchinginfo.other.lastName}}</h2>
    </div>
    <div class="books">
        <ion-grid>
            <ion-row>
                <ion-col col-6><img class="bookImg" src="https://www.netbedloo.com{{matchinginfo.their.mediumImage}}"></ion-col>
                <ion-col col-6><img class="bookImg" src="https://www.netbedloo.com{{matchinginfo.mine.mediumImage}}"></ion-col>
            </ion-row>
            <ion-row>
                <p class="distance">{{matchinginfo.other.firstName}} {{"MATCHING_SUB" | translate}} {{matchinginfo.distance}} {{"MATCHING_SUB2" | translate}}</p>
            </ion-row>

            <ion-row>

                <ion-col col-6><button ion-button color="light" (click)="goToMessage()">  <ion-icon name="ios-chatbubbles"></ion-icon>
                </button>
                </ion-col>
                <ion-col col-6><button ion-button color="light">  <ion-icon name="ios-close-circle"></ion-icon> 
                </button>
                </ion-col>

            </ion-row>
        </ion-grid>
    </div>
</ion-content>