page-matching-modal {
    .content {
        background-color: rgba(231, 112, 0, 0.8);
    }
    .matchtitle {
        color: white;
        text-align: center;
        margin-top: 5%;
    }
    .card {
        margin-bottom: 20px !important;
        text-align: center;
    }
    .card-icons {
        font-size: 2.0em;
        position: absolute;
        top: 70%;
        width: 100%;
        color: #e77000;
        text-align: center;
        -webkit-box-align: center;
        -moz-box-align: center;
    }
    .ava {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        display: block;
        margin: auto;
        border: 3px solid #fafafa
    }
    .bookImg {
        display: block;
        margin: auto;
        width: 90%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    .button {
        color: #e77000;
        background-color: white;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        display: block;
        margin: auto;
        font-size: 2.5em;
    }
    .distance {
        width: 100%;
        color: white;
        text-align: center;
        margin-top: 5%;
    }
}