<!--
  Generated template for the MessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Messages</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar debounce="500" animated="true" (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list *ngIf="currentItems?.length===0&&valeur!=undefined&&valeur!=''">
    <button ion-item>
      <span>
        <h2>{{valeur}} </h2>{{ 'UNAVAILABLE' | translate }}</span>

    </button>
  </ion-list>
  <ion-list *ngIf="currentItems?.length>0">
    <button style="background-color: lightgray !important;" ion-item (click)="goToMessage(profil)" *ngFor="let profil of currentItems">
      <ion-avatar item-start>
        <img src="https://www.netbedloo.com{{profil.thumbnailImage}}" />
      </ion-avatar>
      <h2>{{profil.firstName}} {{profil.lastName}}</h2>
      <i>{{profil.gouv.name.split('/')[0]}}</i>
    </button>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let chatter of actifSouhabi" (click)="goToMessage(chatter)" [style.background]="chatter.message.seenDate===null ? 'lightblue' : null">
      <ion-avatar item-start>
        <img src="https://www.netbedloo.com{{chatter.thumbnailImage}}">
      </ion-avatar>
      <h2>{{chatter.firstName}} {{chatter.lastName}}</h2>
      <h3>{{chatter.message.content | slice:0:35}}
        <span *ngIf="chatter.message.content.length>35">...</span>
      </h3>
      <p>{{chatter.message.creationDate | amTimeAgo}}</p>
    </ion-item>
  </ion-list>
  <p padding *ngIf="actifSouhabi.length===0">
    You have no messages yet.
  </p>

</ion-content>
