page-additem {
    ion-auto-complete {
        overflow: hidden !important;
        display: block;
        width: 100%;
        display: inline-block;
        ion-searchbar {
            padding: 1px !important;
        }
        .hidden {
            display: none;
        }
        ul {
            position: relative;
            width: 100%;
            margin-top: 0px;
            margin: 1px;
            background: #FFF;
            list-style-type: none;
            padding: 0px;
            left: 0px;
            z-index: 999;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            li {
                padding: 15px;
                border-bottom: 1px solid #c1c1c1;
            }
            ion-auto-complete-item {
                height: 40px;
                width: 100%;
            }
            li:last-child {
                border: none;
            }
            li:hover {
                cursor: pointer;
                background: #f1f1f1
            }
        }
    }
    .input {
        background-color: lightgray;
        border-radius: 3px;
    }
    .content {
        background-color: rgba(231, 112, 0, 1);
    }
    .card {
        margin-bottom: 20px !important;
        text-align: center;
    }
    .profile-image-wrapper {
        text-align: center;
        margin: 20px 0;
        .profile-image {
            width: 120px;
            height: 200px;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .profile-image-placeholder {
            display: inline-block;
            background-color: #eee;
            width: 96px;
            height: 96px;
            border-radius: 50%;
            font-size: 12px;
            ion-icon {
                font-size: 44px;
                margin-bottom: -10px;
                margin-top: 10px;
            }
        }
    }
    .card-icons {
        font-size: 2.0em;
        width: 100%;
        -webkit-box-align: center;
        -moz-box-align: center;
        text-align: center;
    }
}