<ion-header>

    <ion-navbar>
        <ion-title>{{ 'ITEM_CREATE_TITLE' | translate }}</ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                        <span color="primary" showWhen="ios">
                          {{ 'CANCEL_BUTTON' | translate }}
                        </span>
                        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
                      </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>


<ion-content padding class="cards-bg">
    <!--    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
                <div class="profile-image-wrapper" (click)="getPicture()">
                    <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
                        <ion-icon name="add"></ion-icon>
                        <div>
                            {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
                        </div>
                    </div>
                    <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
                </div> -->
    <ion-card padding>

        <div>
            <h1 style="text-align: center;">{{'ITEM_ASKING_ADD' | translate}}</h1>

            <ion-grid>
                <ion-row>
                    <ion-col *ngIf="type==0||type==1" style="text-align: center;" col>
                        <h1>
                            <ion-icon (click)="type=1" name="bookmarks">
                            </ion-icon>

                        </h1>
                        {{'BOOK' | translate}}
                    </ion-col>

                    <ion-col *ngIf="type==0||type==2" style="text-align: center;" col>
                        <h1>
                            <ion-icon (click)="type=2" name="game-controller-b">
                            </ion-icon>


                        </h1>
                        {{'VIDEO_GAME' | translate}}

                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </ion-card>
    <div *ngIf="type>0">
        <ion-card padding>

            <h1 *ngIf="type==1" style="text-align: center;">{{'ITEM_ASKING_LANGUAGE' | translate}}</h1>
            <h1 *ngIf="type==2" style="text-align: center;">{{'ITEM_ASKING_PLATFORM' | translate}}</h1>

            <div *ngIf="!selectedlanguage">
                <ion-searchbar debounce="500" animated="true" (ionInput)="getLanguage($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
                <ion-list>
                    <button ion-item (click)="saveLanguage(item)" *ngFor="let item of currentItems">
                      <h2>{{item.name}}</h2>
                    </button>
                </ion-list>
            </div>
            <h2 *ngIf="selectedlanguage">
                {{selectedlanguage.name}}
            </h2>
        </ion-card>
        <ion-card style="position: initial" *ngIf="selectedlanguage" padding>
            <h1 style="text-align: center;">{{'ITEM_ASKING_TITLE' | translate}}</h1>
            <ion-searchbar debounce="500" animated="true" (ionInput)="ChechIfExist($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
            <ion-list>
                <button ion-item (click)="selectBook(item)" *ngFor="let item of availableBooks| slice:0:2; let i=index">
                                <template [ngIf]="i<2">
                  <h2>{{item.title}}</h2>
                                </template>
                </button>

            </ion-list> <button ion-button color="secondary" (click)="getInformations()"> Sbewlou!  <ion-icon name="color-wand"></ion-icon>
                
                </button>

        </ion-card>
        <ion-card *ngIf="selectedBook" padding>
            <ion-grid>
                <ion-row>
                    <ion-col col-5>
                        <img *ngIf="imagePath" src="{{imagePath}}">

                    </ion-col>

                    <ion-col *ngIf="type==1" col-7>
                        <h2><b>
                                        <ion-icon  name="hammer"></ion-icon>
                                        
                                    {{selectedBook.items[0].volumeInfo.title}}</b></h2>

                        <small>{{selectedBook.items[0].volumeInfo.authors[0]}}</small>
                        <p>


                            {{selectedBook.items[0].volumeInfo.description | slice:0:150}}...
                        </p>

                    </ion-col>
                    <ion-col *ngIf="type==2" col-7>
                        <h2><b>
                                        <ion-icon  name="hammer"></ion-icon>
                                        
                                    {{newArticle.article.title}}</b></h2>

                        <p>


                            {{newArticle.article.description | slice:0:150}}...
                        </p>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>

        <ion-grid>
            <ion-row class="card-icons">
                <ion-col>
                    <button *ngIf="bookName" ion-button color="light" outline (click)="openModal()">Edit and Save</button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
</ion-content>