page-add-item-modal {
    .content {
        background-color: rgba(231, 112, 0, 0.8);
    }
    .card {
        margin-bottom: 20px !important;
        text-align: center;
    }
    .card-icons {
        font-size: 2.0em;
        width: 100%;
        -webkit-box-align: center;
        -moz-box-align: center;
        text-align: center;
    }
    .input {
        background-color: lightgray;
        border-radius: 3px;
        padding-left: 15px;
        margin-bottom: 15px;
    }
    .ion-label {
        margin: 0px !important;
    }
    .label-ios {
        margin: 0px !important;
    }
    .label-md {
        margin: 0px !important;
    }
}