<!--
  Generated template for the AddItemModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>{{article.article.title}}</ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span color="primary" showWhen="ios">
                  {{ 'CANCEL_BUTTON' | translate }}
                </span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
              </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>



<ion-content padding>
    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-5 *ngIf="article.file">
                        <img (click)="getPicture()" src="data:image/PNG;base64,{{article.file}}">
                        <button *ngIf="edit" ion-button outline (click)="getPicture()">
                                <ion-icon name="camera"></ion-icon>
                                </button>
                    </ion-col>
                    <ion-col col-5 *ngIf="!article.file">
                        <img (click)="getPicture()" src="https://www.netbedloo.com/content/images/NaruLogoposter2-4bce68cbf3.jpg">
                        <button *ngIf="edit" ion-button outline (click)="getPicture()">
                                <ion-icon name="camera"></ion-icon>
                                </button>
                        <button *ngIf="edit" ion-button outline (click)="getPictureFromPhone()">
                                        <ion-icon name="images"></ion-icon>
                                        </button>

                    </ion-col>

                    <ion-col col-7>
                        <ion-label *ngIf="edit" color="primary" fixed>Title</ion-label>

                        <ion-input *ngIf="edit" [(ngModel)]="article.article.title"></ion-input>
                        <ion-label *ngIf="edit" color="primary" fixed>Author</ion-label>

                        <ion-input *ngIf="edit" [(ngModel)]="article.article.author"></ion-input>
                        <h2 *ngIf="!edit"><b>{{article.article.title}}</b></h2>
                        <p *ngIf="!edit">{{article.article.author}}</p>


                    </ion-col>
                </ion-row>
                <ion-row class="card-icons" *ngIf="!edit">
                    <ion-col>
                        <button ion-button outline (click)="editArticle()">
                                    <ion-icon name="create"></ion-icon>
                                    Edit
                                  </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>

    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-label *ngIf="edit" color="primary" fixed>Description</ion-label>
            <ion-textarea *ngIf="edit" [(ngModel)]="article.article.description"></ion-textarea>
            <p *ngIf="!edit">
                <i>{{article.article.description}}</i>
            </p>
        </ion-card-content>
    </ion-card>
    <ion-grid>
        <ion-row class="card-icons">
            <ion-col>
                <button style="width:50%" ion-button color="light" outline (click)="save()" [disabled]="article.article.title?.length<1||article.file?.length<1">Save</button>
            </ion-col>
        </ion-row>
    </ion-grid>



</ion-content>