page-book-guide {
    .content {
        background-color: rgba(0, 0, 0, 0.7);
    }
    .text {
        position: relative;
        color: white;
        text-align: center;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
}