<ion-content padding>
    <ion-grid>
        <ion-row style="margin-top:30%">
            <h1 class="text"> {{'BOOKINSTRUCT_WELCOME' |translate}} </h1>
            <h4 class="text">{{'BOOKINSTRUCT1' | translate }}
                <ion-icon name="ios-bookmark"></ion-icon>
            </h4>
            <h4 class="text">{{'BOOKINSTRUCT2' | translate }}
                <ion-icon name="ios-heart"></ion-icon>
            </h4>
            <h4 class="text">{{'BOOKINSCTRUCT3' | translate }}
            </h4>

        </ion-row>
        <ion-row style=" -moz-box-align: center;
        text-align: center; margin-top:20%">
            <ion-col><button (click)="uderstand()" ion-button large>{{'UNDERSTOOD' | translate}}</button></ion-col>
        </ion-row>
    </ion-grid>


</ion-content>