<!--
  Generated template for the MatchingListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>MatchingList</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-list>
        <ion-item-sliding *ngFor="let match of matchings">
            <ion-item>
                <ion-avatar item-start>
                    <img src="https://www.netbedloo.com{{match.other.thumbnailImage}}">
                </ion-avatar>
                <small>{{match.mine.title}} / {{match.their.title}}</small><br>
                <small>{{"WITH" | translate}}  <b>{{match.other.firstName}} {{match.other.lastName}}</b>.</small><br>
                <small>{{match.distance}} {{'MATCHING_SUB2' | translate}}</small>
            </ion-item>
            <ion-item-options side="left">
                <button style="background:rgb(163, 0, 0)" ion-button color="primary" (click)="declineMatching(match)">
                    <ion-icon name="close-circle"></ion-icon>
                    {{'DECLINE' |translate}}
                  </button>
            </ion-item-options>
            <ion-item-options side="right">
                <button style="background:rgb(73, 128, 0)" ion-button color="primary" (click)="confirmMatching(match)">
              <ion-icon name="ios-checkmark-circle"></ion-icon>
              {{'END' |translate}}
            </button>
                <button ion-button color="primary" (click)="goMessage(match)">
                <ion-icon name="ios-chatbubbles"></ion-icon>
                {{'TALK' |translate}}
              </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

</ion-content>