<ion-header>

    <ion-navbar>
        <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <form #registerForm="ngForm" (ngSubmit)="signup()" *ngIf="!success">
        <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
        <div class="profile-image-wrapper" (click)="getPicture()">
            <div class="profile-image-placeholder" *ngIf="!this.newprofile.file">
                <ion-icon name="add"></ion-icon>
                <div>
                    {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
                </div>
            </div>
            <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.newprofile.file"></div>
        </div>

        <ion-list>

            <ion-item>
                <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="account.login" required id="login" name="login" #login="ngModel" [class.invalid]="login.errors && login.dirty" minlength="2" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$"></ion-input>
                <div *ngIf="login.dirty && login.invalid">
                    <small *ngIf="login.errors.required">
                            Your username is required.
                        </small>
                    <small *ngIf="login.errors.minlength">
                            Your username is required to be at least 1 character.
                        </small>
                    <small *ngIf="login.errors.maxlength">
                            Your username cannot be longer than 50 characters.
                        </small>
                    <small *ngIf="login.errors.pattern">
                            Your username can only contain lower-case letters and digits.
                        </small>
                </div>
            </ion-item>
            <ion-item>
                <ion-label floating>{{ 'FIRST_NAME' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="newprofile.profile.firstName" name="firstName" required #firstName="ngModel" [class.invalid]="firstName.errors && firstName.dirty" minlength=3 maxlength=100 required></ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="firstName.errors?.required && firstName.dirty">
                firstName is required
            </ion-item>
            <ion-item>
                <ion-label floating>{{ 'LAST_NAME' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="newprofile.profile.lastName" name="lastName" required #lastName="ngModel" [class.invalid]="lastName.errors && lastName.dirty" minlength=3 maxlength=100></ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="lastName.errors?.required && lastName.dirty">
                Last name is required
            </ion-item>
            <ion-item>

                <ion-label floating>{{ 'COUNTRY' | translate }}</ion-label>
                <ion-select [(ngModel)]="newprofile.profile.country" name="country" required #country="ngModel" [class.invalid]="country.errors && country.dirty">
                    <ion-option *ngFor="let country of currentCountries" [value]="country">
                        <img src="https://www.netbedloo.com{{country.flag}}" class="flag" />
                        <span [innerHTML]=country.name></span>
                    </ion-option>
                </ion-select>
            </ion-item>
            <ion-item class="error-message" *ngIf="country.errors?.required && country.dirty">
                Country is required
            </ion-item>

            <ion-item>
                <ion-label floating>{{ 'LOCALITY' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="location" name="local" required #local="ngModel" [class.invalid]="local.errors && local.dirty"></ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="local.errors?.required && local.dirty">
                location is required
            </ion-item>
            <ion-item>
                <ion-label floating>{{ 'EMAIL' | translate }}</ion-label>
                <ion-input type="email" [(ngModel)]="account.email" name="email" #email="ngModel" [class.invalid]="email.errors && email.dirty" minlength=5 maxlength=100 required></ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="email.errors?.required && email.dirty">
                email is required
            </ion-item>

            <ion-item>
                <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
                <ion-input type="password" [(ngModel)]="account.password" name="password" required #password="ngModel" [class.invalid]="password.errors && password.dirty"></ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="password.errors?.required && password.dirty">
                Password is required
            </ion-item>
            <ion-item>
                <ion-label floating>{{ 'REPASSWORD' | translate }}</ion-label>
                <ion-input type="password" [(ngModel)]="repassword" name="passwordConfirmation"></ion-input>
            </ion-item>


            <div padding>
                <button ion-button color="primary" [disabled]="registerForm.form.invalid||account.password!=repassword" block>{{ 'SIGNUP_BUTTON' | translate }}</button>
                <small>
            {{ 'AGREE' | translate }}
        </small>
            </div>


        </ion-list>
    </form>

</ion-content>