<!--
  Generated template for the MessageDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{chatter.firstName}} {{chatter.lastName}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content *ngIf="!followed" padding class="chatPage">
  <ion-card style="background: ghostwhite;border-radius: 18px;margin-top: 100px !important;">

    <ion-item style="margin-top: 11px;background: ghostwhite;">
      <ion-avatar style="margin-top: -9px;" item-start>
        <img src="https://www.netbedloo.com{{chatter.thumbnailImage}}">
      </ion-avatar>
      <h2 style="margin-top: 0px;">{{chatter.firstName}} {{chatter.lastName}}</h2>
      <p style="display: inline;color: lightgray;">{{ 'FROM' | translate }} {{chatter.gouv.name.split('/')[0]}} </p> <img style="display: inline;width: 26px; height: 16px;border-radius: 10px;float: right;vertical-align: middle;" src="https://www.netbedloo.com{{chatter.country.flag}}" />
    </ion-item>
    <ion-card-content>
      <p>{{ 'TALKER' | translate }} {{chatter.firstName}} {{chatter.lastName}}, {{ 'FOLLOWING' | translate }} </p>
    </ion-card-content>
    <ion-grid>
            <ion-row>
              <ion-col col-6>
                <button (click)="followThisPerson()" style="width: 100%;background:#0690CF" ion-button color="secondary" round icon-start>
                  <ion-icon name="person-add"></ion-icon>
                  {{ 'FOLLOW' | translate }} 
                </button>
      
              </ion-col>
              <ion-col col-6>
                <button style="width: 100%;background:#e77000" ion-button color="danger" round icon-start>
                        <ion-icon name="undo"></ion-icon>
                  {{ 'CANCEL_BUTTON' | translate }}
                </button>
      
              </ion-col>
            </ion-row>
          </ion-grid>
  </ion-card>
</ion-content>
<ion-content *ngIf="followed" padding class="chatPage">
  <ion-list #content no-lines>
    <ion-infinite-scroll position="top" (ionInfinite)="getMessages($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-item *ngFor="let message of messageArray">

      <div class="chatBubble">
        <img class="profile-pic {{message.position}}" (click)="goToUser(message.sender)" src="https://www.netbedloo.com{{message.sender.thumbnailImage}}">
        <div class="chat-bubble {{message.position}}">
          <div class="message">{{message.content}}</div>
          <div class="message-detail">
            <span style="font-weight:bold;">{{message.sender.firstName}} </span>,
            <span>{{message.creationDate | amTimeAgo }}</span>
          </div>
        </div>
      </div>

    </ion-item>
  </ion-list>
  <ion-spinner *ngIf="loader" name="bubbles"></ion-spinner>


</ion-content>
<ion-footer *ngIf="followed" class="chatPageFooter">
  <ion-toolbar>
    <ion-item>
      <ion-textarea #sendInput [(ngModel)]="actualMessage" rows="3" placeholder="{{ 'MESSAGE' | translate }}"></ion-textarea>
    </ion-item>
    <ion-buttons right>
      <button style="min-width:45px;" (click)="sendMessage()">
        <ion-icon style="font-size:3em" name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<ion-footer *ngIf="!followed" class="chatPageFooter">
  <ion-toolbar>
   
  </ion-toolbar>
</ion-footer>
