<!--
  Generated template for the MatchingGuidePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
    <ion-grid>
        <ion-row style="margin-top:40%">
            <h1 class="text"> {{'MATCHINGLISTINSTRUCT_WELCOME' |translate}} </h1>
            <h2 class="text">{{'MATCHINGLISTINSCRUCT_SWIPE' | translate }}</h2>
        </ion-row>
        <ion-row style=" -moz-box-align: center;
        text-align: center; margin-top:20%">
            <ion-col><button (click)="uderstand()" ion-button large>{{'UNDERSTOOD' | translate}}</button></ion-col>
        </ion-row>
    </ion-grid>


</ion-content>